.header {
  grid-area: header;
  padding: 12px;

  button {
    padding: 6px 12px;
    background-color: white;
    border-radius: 0;
    border: 1px #c5c5c5 solid;
    outline: none;
    cursor: pointer;

    & > span {
      line-height: 0;
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}
